@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
 background-color: black;
 text-align: center;
}

nav {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

/* unvisited link */
a:link {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 35px;
  }
  
  /* visited link */
  a:visited {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 35px;  }
  
  /* mouse over link */
  a:hover {
    padding: 20px;
    text-decoration: none;
    color: #B53220;
    font-size: 35px;  }
  
  /* selected link */
  a:active {
    padding: 20px;
    text-decoration: none;
    color: #B53220;
    font-size: 35px;  }
  
  .zelda-img {
      width: 100%;
  }

  .button-container{
    /* display:inline-block; */
    position:relative;
    margin: auto;
}

.dropdown-sort {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1255px;
    left: 0;
    right: 0;
    align-content: center;
}

.dropdown-sort select {
    padding: 10px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: #4241FE;
    color: white;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 20px;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.game-box {
  display: flex;
  flex-direction: column;
  border: 3px solid  #4241FE;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  margin-top: 10px;
  color: white;
}

.profile-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

.form-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 50%;
  display: inline-block;

}

.game-container {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  display: inline-block;
  width: 50%;

}

.new-game {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap;
}

.new-game select, button, input, ::placeholder {
  padding: 10px;
  margin: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: #4241FE;
  color: white;
  text-align: center;
}

input:focus, select:focus {
  outline: none !important;
  border:1px solid #B53220;
  box-shadow: 0 0 10px #719ECE;
}

.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.checkbox input {
    width: 30px;
    height: 30px;
  }

  .checkbox label {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
  }