@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
 background-color: black;
 text-transform: uppercase;
 text-align: center;
}


nav {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    display: flex;
    justify-content: space-between;
}


/* unvisited link */
a:link {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 35px;
  }
  
  /* visited link */
  a:visited {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 35px;  }
  
  /* mouse over link */
  a:hover {
    padding: 20px;
    text-decoration: none;
    color: #B53220;
    font-size: 35px;  }
  
  /* selected link */
  a:active {
    padding: 20px;
    text-decoration: none;
    color: #B53220;
    font-size: 35px;  }
  
  .zelda-img {
      width: 100%;
  }

  .button-container{
    /* display:inline-block; */
    position:relative;
    margin: auto;
}

.dropdown-sort {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1255px;
    /* height: 75%; */
    left: 0;
    right: 0;
    align-content: center;
}

.dropdown-sort select {
    padding: 10px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: #4241FE;
    color: white;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 20px;
}

h2 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.game-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  color: white;
}